{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">

        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4">Blessyfy - Plateforme de Stage</h1>
                {% if app.user %}
                    {% if app.user.isAdmin() %}
                        <p class="lead">Cette plateforme vous permet de gérer vos stages, vos étudiants, vos entreprises, vos tuteurs et vos responsables de manière simple et efficace.</p>
                    {% else %}
                        <p class="lead">Cette plateforme vous permet de consulter les informations concernant les stage</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row my-5 justify-content-center">

            {% if app.user %}
                <div class="col-md-2">
                    <div class="card bg-info text-white h-100">
                        <div class="card-body text-center">
                            <h2 class="card-title">{{ nbStages }}</h2>
                            <p class="card-text">Stages effectués</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card bg-warning text-white h-100">
                        <div class="card-body text-center">
                            <h2 class="card-title">{{ nbEtudiants }}</h2>
                            <p class="card-text">Étudiants ayant effectué des stages</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card bg-success text-white h-100">
                        <div class="card-body text-center">
                            <h2 class="card-title">{{ nbEntreprises }}</h2>
                            <p class="card-text">Entreprises partenaires</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card bg-danger text-white h-100">
                        <div class="card-body text-center">
                            <h2 class="card-title">{{ nbTuteurs }}</h2>
                            <p class="card-text">Tuteurs de stage</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card bg-primary text-white h-100">
                        <div class="card-body text-center">
                            <h2 class="card-title">{{ nbResponsables }}</h2>
                            <p class="card-text">Responsables administratifs</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-6 text-center">
                    <p class="mb-4">Vous n'êtes pas connecté.</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary btn-block">Se connecter</a>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}
