{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Inscription</h1>

                {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
                    <div class="form-group">
                        {{ form_label(registrationForm.email, 'Email') }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions') }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Inscription</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
