{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <div class="content-title">
        <h1 class="title">Bienvenue sur la Plateforme de Stages</h1>
    </div>
{% endblock %}

{% block main %}
<p>La plateforme blessyfy de stage est conçue pour simplifier et optimiser la gestion des stages effectués par les étudiants. Elle offre une solution complète pour visualiser, ajouter, modifier et supprimer les informations relatives aux stages enregistrés.</p>

<div class="content-body">
    <div class="row">
        <div class="col-md-8">
            <div class="card bg-info">
                <div class="card-body">
                    <h5 class="card-title">Gestion des Stages</h5>
                    <p class="card-text">En tant qu'administrateur, vous pouvez <a href="{{ path('app_home') }}">accéder à l'interface utilisateur</a> pour visualiser, ajouter, modifier et supprimer des informations sur les stages enregistrés.</p>
                    <a href="{{ path('app_stage_index') }}" class="btn btn-light">Voir les stages</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-info">
                <div class="card-body">
                    <h5 class="card-title">Statistiques</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Nombre total de stages : {{ nbStages }}</li>
                        <li class="list-group-item">Nombre total d'étudiants : {{ nbEtudiants }}</li>
                        <li class="list-group-item">Nombre total d'entreprises : {{ nbEntreprises }}</li>
                        <li class="list-group-item">Nombre total de tuteurs : {{ nbTuteurs }}</li>
                        <li class="list-group-item">Nombre total de responsables : {{ nbResponsables }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
