<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stages - Badaoui Adam{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-wC2Cr4Db8/By2eqqibYz3fmeMrzL4z5v2sD8vwS2/VgSN3KduhvJFC+bBwKQbGBu4dFkjpkzn7p3DJXzWRbU8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .navbar-text {
            display: flex;
            align-items: center;
        }
        .navbar-text .material-icons {
            margin-right: 5px;
        }
    </style>
</head>
<body style="display:flex;flex-direction:column;height:100vh">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_stage_index') }}">Stages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_tuteur_index') }}">Tuteurs</a>
                </li>
                {% if app.user %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
           {% if app.user %}
            <span class="navbar-text">
                <i class="material-icons">account_circle</i>
                {{ app.user.email|split('@')[0]|capitalize }}
            </span>
            {% endif %}

        </div>
    </nav>
</header>

<div class="container my-5">
    {% block body %}{% endblock %}
</div>

<footer
