{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Stages</h1>

        <form action="{{ path('app_stage_index') }}" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Rechercher..." value="{{ app.request.query.get('search') }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mois</th>
                        <th>Année</th>
                        <th>Étudiant</th>
                        <th>Filière</th>
                        <th>Entreprise</th>
                        <th>Tuteur</th>
                        <th>Responsable</th>
                        <th>Pays</th>
                        <th>Ville</th>
                        <th>Site Web</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stage in stages %}
                        <tr>
                            <td>{{ stage.mois }}</td>
                            <td>{{ stage.annee }}</td>
                            <td>{{ stage.etudiant }}</td>
                            <td>{{ stage.etudiant.classe }}</td>
                            <td>{{ stage.entreprise }}</td>
                            <td><a href="{{ path('app_tuteur_show', {'id': stage.tuteur.id}) }}" class="text-decoration-none">{{ stage.tuteur }}</a></td>
                            <td>{{ stage.responsable }}</td>
                            <td>{{ stage.entreprise.pays }}</td>
                            <td>{{ stage.entreprise.ville }}</td>
                            <td>{{ stage.entreprise.siteInternet }}</td>
                            <td class="actions d-inline-flex gap-2">
                                <a href="{{ path('app_stage_show', {'id': stage.id}) }}" class="text-decoration-none">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                                <a href="{{ path('app_tuteur_show', {'id': stage.tuteur.id}) }}" class="text-decoration-none">
                                    <i class="material-icons">person</i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">Aucun stage n'est trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
