{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Stage</h1>

        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row" class="w-25">Mois</th>
                            <td>{{ stage.mois }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Année</th>
                            <td>{{ stage.annee }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Étudiant</th>
                            <td>{{ stage.etudiant }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Filière</th>
                            <td>{{ stage.etudiant.classe }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Entreprise</th>
                            <td>{{ stage.entreprise }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Responsable</th>
                            <td>{{ stage.responsable }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Pays</th>
                            <td>{{ stage.entreprise.pays }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Ville</th>
                            <td>{{ stage.entreprise.ville }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">Site Web</th>
                            <td>{{ stage.entreprise.siteInternet }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">E-mail</th>
                            <td>{{ stage.entreprise.adresseEmail }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <a href="{{ path('app_stage_index') }}" class="btn btn-primary mt-3">Retour à la liste</a>
        <a href="{{ path('app_tuteur_show', {'id': stage.tuteur.id}) }}" class="btn btn-secondary mt-3">Voir le tuteur</a>
    </div>
{% endblock %}
