{% extends 'base.html.twig' %}

{% block title %}Tuteurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            padding-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Tuteurs</h1>


        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        
                    </tr>
                </thead>
                <tbody>
                {% for tuteur in tuteurs %}
                    <tr>
                        <td>{{ tuteur.id }}</td>
                        <td>{{ tuteur.prenom }}</td>
                        <td>{{ tuteur.nom }}</td>
                        <td>{{ tuteur.email }}</td>
                        <td>{{ tuteur.telephone }}</td>
                      
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun tuteur trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
