{% extends 'base.html.twig' %}

{% block title %}Tuteur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Tuteur</h1>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ tuteur.id }}</td>
                    </tr>
                     <tr>
                        <th>Prénom</th>
                        <td>{{ tuteur.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ tuteur.nom }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ tuteur.email }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ tuteur.telephone }}</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_stage_index') }}" class="btn btn-secondary">Stages</a>
        <a href="{{ path('app_tuteur_index') }}" class="btn btn-primary">Liste des tuteurs</a>

    </div>
{% endblock %}
